*
!/.gitignore
!/config.yaml
!/rdf-config/
!/rdf-config/demo/
!/rdf-config/demo/description.yaml
!/rdf-config/demo/endpoint.yaml
!/rdf-config/demo/model.yaml
!/rdf-config/demo/prefix.yaml
!/rdf-config/demo/sparql.yaml
!/sources/
!/sources/demo.ttl
